body {
  font-family: "Edu VIC WA NT Beginner", cursive;
  margin: 0rem;
  display: flex;
  flex-direction: column;
}

body > * {
  flex: 1 1 100%;
}

.textarea {
  box-sizing: border-box;
  display: block;
  width: 70%;
  font-family: inherit;
  margin: 1rem auto;
}

#output {
  margin: 1rem auto;
  border: 1px solid black;
  text-align: left;
  height: 10vh;
  width: 80%;

  max-width: 600px;
}

.first {
  background-color: #14b8a6;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
  margin: 0%;
}

.button {
  background-color: #14b8a6;
  text-decoration: none;
  font-size: large;
  text-decoration: none;
  text-align: center;
  border: none;
  margin: 1rem 0rem;
  padding: 1rem 2rem;
}

.button:hover {
  cursor: pointer;
  background-color: #0f766e;
  color: white;
}

.footer {
  width: 100%;
  padding: 1rem;
  background-color: #14b8a6;
  text-align: center;
}

.noob {
  font-weight: bold;
  text-align: center;
}

.para {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.footer .para {
  max-width: 600px;
  margin: auto;
}

.groot-input {
  text-align: center;
}
